.eyeBoarderLeft{
  position: absolute;
  left: -12em;
  /*top: 11em;*/
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 3px solid #a100fc;
  animation: blinkl 5s 2.2s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.whiteCircleLeft{
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.irisLeft{
  /*position: absolute;*/
  /*top: auto;
  left: auto;*/
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background-color: #43D5FD;
  background: linear-gradient(to top, #43D5FD, #AF39CD);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 20px white;
  border: .35em solid white;
  animation: move 9s 4.2s infinite alternate;
}
.pupilLeft{
  height: .7em;
  width: .7em;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dialate 10s 10s infinite alternate;
}
.whiteCircleBigLeft{
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  background-color: white;
  margin-left: -1.5em;
  margin-top: -1.3em;
  opacity: .4;
}
.whiteCircleSmallLeft{
  height: .51em;
  width: .51em;
  border-radius: 50%;
  background-color: white;
  animation: shift 5s 2.2s infinite alternate;
  opacity: .2;
}

.leftBody{
  position: absolute;
  left: -102.5%;
  top: 44%;
  height: 4em;
  width: 3em;
  background-color: #a100fc;
  border-radius: 10%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 0 100px 5px #a100fc;
  animation: fly2 8s infinite;
}
.leftGuy{
  position: absolute;
  z-index: -1;
  top: 6em;
  left: -18.6em;
  transform: rotate(-90deg);
  animation: fly1 8s infinite;
}
.wrapMe{
  position: absolute;
  animation: fly 8s infinite;
  top: 16em;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.wrinkle1Left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrinkle2Left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wingsLeft{
  position: absolute;
  transform: rotate(90deg);
  z-index: -2;
  top: 16.5em;
  left: -21.7em;
  animation: fly 8s infinite;
}

@keyframes fly {
  40%{
    top: 15em;
  }
}
@keyframes fly1 {
  40%{
    top: 5em;
  }
}
@keyframes fly2 {
  40%{
    top: 41%;
  }
}
@keyframes blinkl {
  50% {
    height: 0em;
    border-top: 4px solid #7100b3;
    border-bottom: 4px solid #7100b3;
  }
}
@keyframes shift {
  50% {
    /*margin: 1em;*/
    margin-left: .5em;
    opacity: 0;
  }
}
@keyframes move {
  20% {
    margin-bottom: 4em;
  }
  50% {
    margin-left: .5em;
  }
  70% {
    margin-top: .5em;
  }
}
@keyframes dialate {
  20% {
    height: 2em;
    width: 2em;
  }
  50% {
    height: 1em;
    width: 1em;
  }
}

/*#AF39CD - purple*/
/*#43D5FD - baby blue*/
