
.eyeBoarderTop{
  position: absolute;
  top: 25%;
  left: 35%;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 3px solid black;
  /*animation: blink 5s 2.2s infinite alternate;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
.whiteCircleTop{
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.irisTop{

  position: absolute;
  top: auto;
  left: auto;
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  background-color: #43D5FD;
  background: linear-gradient(to top, #43D5FD, #AF39CD);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 20px white;
  border: .35em solid white;
  animation: move 9s 4.2s infinite alternate;
}
.pupilTop{
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dialate 5s 2.2s infinite alternate;
}
.whiteCircleBigTop{
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  background-color: white;
  margin-left: -1.5em;
  margin-top: -1.3em;
  opacity: .4;
}
.whiteCircleSmallTop{
  height: .51em;
  width: .51em;
  border-radius: 50%;
  background-color: white;
  animation: shift 5s 2.2s infinite alternate;
  opacity: .2;
}
@keyframes blink {
  50% {
    height: 0em;
    border-top: 10px solid #A42B45;
    border-bottom: 10px solid #A42B45;
  }
}
@keyframes shift {
  50% {
    /*margin: 1em;*/
    margin-left: .5em;
    opacity: 0;
  }
}
@keyframes move {
  20% {
    margin-bottom: 4em;
  }
  50% {
    margin-left: .5em;
  }
  70% {
    margin-top: .5em;
  }
}


@keyframes dialate {
  20% {
    height: 2em;
    width: 2em;
  }
  50% {
    height: 1em;
    width: 1em;
  }
}

/*#AF39CD - purple*/
/*#43D5FD - baby blue*/
