
.green {
  position: absolute;
  top: 29em;
  left: 2.3em;
  height: 20em;
  width: .7em;
  background-color: #00ff88;
  animation: green 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.blue{
  position: absolute;
  top: 29em;
  left: 3em;
  height: 20em;
  width: .75em;
  background-color: #23e8fd;
  animation: blue 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.yellow{
  position: absolute;
  top: 29em;
  left: 3.75em;
  height: 20em;
  width: .75em;
  background-color: #f8ff33;
  animation: yellow 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.orange{
  position: absolute;
  top: 29em;
  left: 4.5em;
  height: 20em;
  width: .75em;
  background-color: #fc8c40;
  animation: orange 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.purple{
  position: absolute;
  top: 29em;
  left: 5.25em;
  height: 20em;
  width: .75em;
  background-color: #a200fb;
  animation: purple 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.green2 {
  position: absolute;
  top: 29em;
  left: 6em;
  height: 20em;
  width: .75em;
  background-color: #00ff88;
  animation: green 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.blue2{
  position: absolute;
  top: 29em;
  left: 6.75em;
  height: 20em;
  width: .75em;
  background-color: #23e8fd;
  animation: blue 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.yellow2{
  position: absolute;
  top: 29em;
  left: 7.5em;
  height: 20em;
  width: .75em;
  background-color: #f8ff33;
  animation: yellow 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.orange2{
  position: absolute;
  top: 29em;
  left: 8.25em;
  height: 20em;
  width: .75em;
  background-color: #fc8c40;
  animation: orange 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.purple2{
  position: absolute;
  top: 29em;
  left: 9em;
  height: 20em;
  width: .75em;
  background-color: #a200fb;
  animation: purple 1s infinite;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
@keyframes purple {
  20%{
    background-color: #fc8c40; /*orange*/
    height: 20em;
  }
  40%{
    background-color: #f8ff33; /*yellow*/
    height: 15em;
  }
  60%{
    background-color: #23e8fd; /*blue*/
    height: 10em;
  }
  80%{
    background-color: #00ff88; /*green*/
    height: 5em;
  }
  100%{
    background-color: #a200fb; /*purp*/
    height: 15em;
  }
}
@keyframes orange {
  20%{
    background-color: #f8ff33; /*yellow*/
    height: 15em;
  }
  40%{
    background-color: #23e8fd; /*blue*/
    height: 10em;
  }
  60%{
    background-color: #00ff88; /*green*/
    height: 15em;
  }
  80%{
    background-color: #a200fb; /*purp*/
    height: 18em;
  }
  100%{
    background-color: #fc8c40; /*orange*/
    
  }
}
@keyframes yellow {
  20%{
    background-color: #23e8fd; /*blue*/
  }
  40%{
    background-color: #00ff88; /*green*/
  }
  60%{
    background-color: #a200fb; /*purp*/
  }
  80%{
    background-color: #fc8c40; /*orange*/
    height: 10em;
  }
  100%{
    background-color: #f8ff33; /*yellow*/
  }
}
@keyframes blue {
  20%{
    background-color: #00ff88; /*green*/
    height: 18em;
  }
  40%{
    background-color: #a200fb; /*purp*/
    height: 16em;
  }
  60%{
    background-color: #fc8c40; /*orange*/
    height: 14em;
  }
  80%{
    background-color: #f8ff33; /*yellow*/
    height: 12em;
  }
  100%{
    background-color: #23e8fd; /*blue*/
    height: 10em;
  }
}
@keyframes green {
  20%{
    background-color: #a200fb;
    height: 16em;
  }
  40%{
    background-color: #fc8c40;
    height: 17em;
  }
  60%{
    background-color: #f8ff33;
    height: 18em;
  }
  80%{
    background-color: #23e8fd;
    height: 19em;
  }
  100%{
    background-color: #00ff88;
  }
}
